.grid {
  display: grid;
  grid-gap: 0;
  width: 50vmin;
  height: 50vmin;
  padding: 5vmin;
}

.grid:focus {
  background-color: pink;
}

button {
  background-color: darkred;
  color: white;
  padding: 5%;
  border: none;
  border-radius: 20px;
  font-size: 3vmin;
}
